# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "9587f0ef0b86add6a9d6754c86ca8736"
name = "mobile-builder-backend"
application_url = "https://mobile-builder-backend.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,unauthenticated_read_product_listings,unauthenticated_write_checkouts,unauthenticated_read_customer_tags,unauthenticated_read_content,unauthenticated_read_selling_plans,unauthenticated_write_customers,unauthenticated_read_customers"

[auth]
redirect_urls = [
  "https://mobile-builder-backend.onrender.com/auth/callback",
  "https://mobile-builder-backend.onrender.com/auth/shopify/callback",
  "https://mobile-builder-backend.onrender.com/api/auth/callback"
]
